@model RestSimECommerce.Application.ViewModels.HomeViewModel.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Début partie principale -->

<div class="page-body" id="affichageProduct">
    <div class="slider-wrapper theme-custm"></div>
    <!--slider-->
    <div class="topic-block">
        <h1 class="display-2 text-center">Welcome</h1>
        <p class="text-center">Votre Site marchant Simplify eCommerce </p>
    </div>
    <!--Block de Bienvenue-->
    @*<div class="category-grid home-page-category-grid"></div>*@
    @await Html.PartialAsync("_hpCategoryGrid", Model.CategoriesHomePageList)

    <!--home page categorie: on utilise une viewPartiel-->
    @*<div class="product-grid home-page-product-grid"></div>*@

    @await Html.PartialAsync("_hpProductGrid", Model.ProductHomePageList)
    <!--home page produit: on utilise une viewPartiel-->
    <div class="news-list-home-page"></div>
    <!--news list home page-->
    <div class="home-page-polls"></div>
    <!--home page polls:voter-->
</div>
<!-- Fin partie principale -->
@*<script src="~/js/AjaxPanier.js"></script>*@
@section Scripts {
<script>
    $(document).ready(function () {
        $(".ui-btn").click(function (data) {
            // console.log(data);
            var idcateg = data.currentTarget.dataset.idcategorie;

            $.ajax({
                type: "GET",
                dataType: 'html',
                url: "https://localhost:44393/Catalog/Products/" + idcateg,
                async: true,
                contentType: "application/x-www-form-urlencoded",
                success: (msg) => {
                    // console.log(msg);
                    var $affichproducts = $("#affichageProduct");
                    $affichproducts.empty();
                    $affichproducts.append(msg);
                },
                error:
                    (error) => {
                        console.log("error", error);
                        console.log(idcateg);
                    }
            });

        });

    });
</script>
}





